* {
  font-family: "Share Tech Mono", monospace;
}

#board,
.boardInfo {
  max-width: 500px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start,
.boardInfo {
  font-size: 25px;
}

#gameOver {
  display: none;
}
.boton {
  color: red;
  font-size: 40px;
  background-color: #000000;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid blue;
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
.boton:hover {
  background-color: white;
  color: #000000;
}
a {
  color: red;
  font-size: 40px;
  background-color: #000000;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  background-color: white;
  color: #000000;
  text-decoration: none;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#start {
  background-color: #f35a69;
  border: none;
  color: white;
}

#scoreBoard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #6d71b5;
}

.snakeSquare {
  background-color: #e3e773;
  border: 1px solid #000;
}

.foodSquare {
  background-color: #55e7e7;
  border: 1px solid #000;
}
